@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: #1E1E1E;
    ;
    font-family: 'Open Sans', sans-serif;
}

.overlay {
    color: #fff;
    transition: 0.1s;
    animation: fadeIn linear 0.1s;
    -webkit-animation: fadeIn linear 0.1s;
    -moz-animation: fadeIn linear 0.1s;
    -o-animation: fadeIn linear 0.1s;
    -ms-animation: fadeIn linear 0.1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}